- name: install python
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
  - python3
  - gcc
  - python3-devel  


- name: install dependencies
  ansible.builtin.pip:
    requirements: requirements.txt
    executable: pip3.9  
  args:
    chdir: /app    

- name: daemon reload
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: start and enable payment
  ansible.builtin.service:
    name: payment
    state: restarted
    enabled: yes          